<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="#">Administration</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('home') }}">Retour au site</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('post_index') }}">Post</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path('movie_index')}}">Movie</a>
            </li>
        </ul>
    </div>
</nav>