<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <a class="navbar-brand" href="{{ path('home') }}">Adrec Movies</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('home') }}">Accueil</a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="{{ path('search') }}">
                    {{ 'pages.search.title'|trans }}
                </a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="{{ path('post_archive') }}">
                    {{ 'pages.post_archive.title'|trans }}
                </a>
            </li>

        </ul>
    </div>
</nav>