{% extends 'Front/base.html.twig' %}

{% block title %}{{ 'pages.search.title'|trans }}{% endblock %}

{% block body %}

    {% dump(movies) %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>{{ 'pages.search.title'|trans }}</h1>
            </div>

            <div class="col-12">
                {{ form_start(form, {'method': 'GET'}) }}

                {{ form_row(form.search) }}
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">
                        Rechercher
                    </button>
                </div>

                {{ form_end(form) }}
            </div>
        </div>

        <div class="row justify-content-center">
            {% for movie in movies %}
                <div class="col-md-6 col-lg-4 mb-4">
                    {% include 'Front/Partials/cards/default-card.html.twig' %}
                </div>

            {% endfor %}
        </div>

        {% if movies is not empty %}
            <div class="row">
                <div class="col-12">
                    <div class="mb-5 mt-4">
                        <div class="adrec-paginator">
                            {{ knp_pagination_render(movies) }}
                        </div>

                    </div>
                </div>
            </div>
        {% endif %}

    </div>

{% endblock %}
