{% extends 'Front/base.html.twig' %}

{% block title %}{{ movie.title }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6">
                {% if movie.image is defined %}
                    <img src="{{ movie.image }}" alt="">
                {% endif %}
            </div>
            <div class="col-md-6">
                <h1>
                    {{ movie.title }}
                </h1>
                <span>
                    {{ movie.releaseDate|date('d/m/Y') }}
                </span>
            </div>

            <div class="col-12 mt-4">
                {{ movie.synopsis }}
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12">
                <h2>
                    Article associés
                </h2>
            </div>
            <div class="col-12">
                {% for post in related_posts %}
                    <div>
                        <a href="{{ path('post_detail', {'id': post.id}) }}">
                            {{ post.title }}
                        </a>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
