.btn-icon {
    position: relative;
    display: inline-block;
    width: 24px;



    &:before {
        content: '';
        background: #5858ff;
        position: absolute;
        left: 0;
        top: 0;
        clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
        width: 100%;
        height: 100%;

    }
}