{{ form_start(form) }}
    {{ form_widget(form) }}
<div class="text-right">
    <a class="btn btn-dark" href="{{ path('movie_index') }}">
        {{ 'admin.global.btns.back_to_list.label'|trans }}
    </a>
    <button class="btn btn-success">{{ button_label|default('Save') }}</button>
</div>


{{ form_end(form) }}
