<!DOCTYPE html>

<title>Edit Movie</title>

{% block body %}
    <h1>Edit Movie</h1>

    {{ include('Back/Pages/movie/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('movie_index') }}">back to list</a>

    {{ include('Back/Pages/movie/_delete_form.html.twig') }}
{% endblock %}
