{% extends 'Back/base.html.twig' %}

{% block title %}{{ 'admin.movie.crud.index.title'|trans }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>{{ 'admin.movie.crud.index.title'|trans }}</h1>

                <table class="table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>ReleaseDate</th>
                        <th>
                            {{ 'entity.movie.duration'|trans }}
                        </th>
                        <th>Image</th>

                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for movie in movies %}
                        <tr>
                            <td>{{ movie.id }}</td>
                            <td>{{ movie.title }}</td>
                            <td>{{ movie.releaseDate ? movie.releaseDate|date('Y-m-d') : '' }}</td>
                            <td>
                                {{ movie.duration|hourDurationDisplay }}
                            </td>
                            <td>
                                {% if movie.image is defined %}
                                    <img src="{{ movie.image }}" class="movie-img-small">
                                {% endif %}

                            </td>

                            <td>
                                <a target="_blank" class="btn btn-primary" href="{{ path('movie_detail', {'id': movie.id}) }}">
                                    {{ 'admin.global.btns.show.label'|trans }}
                                </a>
                                <a class="btn btn-success" href="{{ path('movie_edit', {'id': movie.id}) }}">
                                    {{ 'admin.global.btns.edit.label'|trans }}
                                </a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>


                <div class="text-center">
                    <a class="btn btn-primary" href="{{ path('movie_new') }}">
                        {{ 'admin.global.btns.new'|trans }}
                    </a>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
