{% extends 'Back/base.html.twig' %}

{% block title %}{{ 'admin.movie.crud.create.title'|trans }}{% endblock %}


{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>
                    {{ 'admin.movie.crud.create.title'|trans }}
                </h1>

                {{ include('Back/Pages/movie/_form.html.twig') }}


            </div>
        </div>
    </div>


{% endblock %}
