{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="text-right">
        <a class="btn btn-primary" href="{{ path('post_index') }}">back to list</a>
        <button class="btn btn-success">{{ button_label|default('Save') }}</button>
    </div>

{{ form_end(form) }}
