{% extends 'Back/base.html.twig' %}

{% block title %}Modifier {{post.title}}{% endblock %}


{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Modifier {{post.title}}</h1>

                {{ include('Back/Pages/post/_form.html.twig', {'button_label': 'Update'}) }}


                {{ include('Back/Pages/post/_delete_form.html.twig') }}
            </div>
        </div>
    </div>

{% endblock %}
