{% extends 'Back/base.html.twig' %}

{% block title %}{{ 'admin.post.crud.index.title'|trans }}{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Liste des posts</h1>
                <div class="text-right mb-4">
                    <a class="btn btn-primary" href="{{ path('post_new') }}">Create new</a>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>{{ 'admin.post.crud.index.createdAt'|trans }}</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for post in posts %}
                        <tr>
                            <td>{{ post.id }}</td>
                            <td>{{ post.title }}</td>
                            <td>
                                <strong>
                                    {{ post.createdAt|date('d/m/Y') }}
                                </strong>
                                {{ post.createdAt|date('H:i') }}
                            </td>
                            <td>
                                <a target="_blank" href="{{ path('post_detail', {'id': post.id}) }}">
                                    {{ 'admin.global.btns.show.label'|trans }}
                                </a>
                                <a href="{{ path('post_edit', {'id': post.id}) }}">
                                    {{ 'admin.global.btns.edit.label'|trans }}
                                </a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <div class="justify-content-center mb-5 mt-4">
                    <div class="adrec-paginator">
                        {{ knp_pagination_render(posts) }}
                    </div>
                </div>

            </div>
        </div>
    </div>




{% endblock %}
