{% extends 'Back/base.html.twig' %}

{% block title %}Nouvel article{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Nouvel article</h1>

                {{ include('Back/Pages/post/_form.html.twig') }}


            </div>
        </div>
    </div>
{% endblock %}
