body {
    position: relative;

    .admin-btn-container {
        position: fixed;
        bottom: 3rem;
        right: 1rem;

        .admin-back-link {
            position: relative;
            border: none;


            &:hover{
                &:before,
                &:after{
                    background: #0069d9;
                }
            }

            &:before,
            &:after{
                z-index: -1;
                content: '';
                position: absolute;
                width: 30px;
                height: 30px;
                background: #007bff;
                border-radius: 50%;
                top: -10px;
                transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;
            }

            &:before {
                left: -10px;
            }

            &:after {
                right: -10px;
            }
        }
    }


}




