{% extends 'Front/base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            {% for i in 0..3 %}
            <div class="col-lg-6 mb-4">
                <div class="em-card">
                    <div class="em-card-img">
                        <img src="https://i.picsum.photos/id/63/600/300.jpg" alt="">
                    </div>
                    <div class="em-card-content">
                        <h2>Salut à tous</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, asperiores corporis delectus eos est, excepturi expedita odit praesentium provident quia ratione recusandae tempora tempore ullam voluptatem! Ad facilis omnis quas.
                        </p>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>




    <div class="container">
        <div class="row">
            <div class="col-12 mt-5 mb-5">
                <h1 class="text-center">Les films de la semaine</h1>
            </div>
        </div>

        <div class="row">
            {% for movie in movies %}
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    {% include 'Front/Partials/cards/default-card.html.twig' with {'movie': movie} %}
                </div>
            {% endfor %}
        </div>
    </div>



{% endblock %}
