{% extends 'Front/base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6">
                <h1>
                    {{ post.title }}
                </h1>
                <span>
                    {{ post.createdAt|date('d/m/Y') }}
                </span>

                {% if post.tags is not empty %}
                    <strong>
                        {% for tag in post.tags %}
                            <span>{{ tag.name }}</span>
                        {% endfor %}
                    </strong>
                {% endif %}
            </div>

            <div class="col-md-6">
                {% include 'Front/Partials/cards/post-movie-card.html.twig' with {'movie': post.movie} %}
            </div>


            <div class="col-12 mt-4">
                {{ post.content }}
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12">
                <h2>
                    Article associés
                </h2>
            </div>
            <div class="col-12">
                {% for post in related_posts %}
                    <div>
                        <a href="{{ path('post_detail', {'id': post.id}) }}">
                            {{ post.title }}
                        </a>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
