<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/style.css') }}">
        {% endblock %}
    </head>
    <body>
        {% include 'Front/Partials/header.html.twig' %}

        {% block body %}
        {% endblock %}

        {% if app.environment == 'dev' %}

            <div class="mt-5 mb-5 ml-5">
                <div class="btn-icon">
                    <i class="fas fa-cog"></i>
                </div>

            </div>

            <div class="admin-btn-container">
                <a class="btn btn-primary admin-back-link" href="{{ path('admin_home') }}">
                    Admin
                </a>
            </div>
        {% endif %}

        {% block javascripts %}
            {{ encore_entry_script_tags('script') }}
        {% endblock %}
    </body>
</html>
