<div class="card movie-card">
    <a href="{{ path('movie_detail', {'id': movie.id}) }}">
        <img src="{{ movie.image }}" class="card-img-top">
    </a>
    <div class="card-body">
        <h5 class="card-title">{{ movie.title }}</h5>
        <div class="card-text mb-2">
            <div>
                Durée : {{ movie.duration }} min
            </div>
            {{ movie.synopsis|getExcerpt() }}
        </div>
        <a href="{{ path('movie_detail', {'id': movie.id}) }}" class="btn btn-primary">
            En savoir plus
        </a>
    </div>
</div>