<div class="card movie-card">
    <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <div class="card-text mb-2">
            {{ post.content }}
        </div>
        <a href="{{ path('post_detail', {'id': post.id}) }}" class="btn btn-primary">
            Lire l'article
        </a>
    </div>
</div>