<a href="{{ path('movie_detail', {'id': movie.id}) }}" class="post-movie-card">
    <div class="row">
        <div class="col-sm-4">
            {% if movie.image is defined %}
                <img src="{{ movie.image }}" alt="">
            {% endif %}
        </div>
        <div class="col-sm-8">
            <h2>
                {{ movie.title }}
            </h2>

            <span>
                Durée : {{ movie.duration|hourDurationDisplay }}
            </span>
        </div>
    </div>



</a>