.movie-card {
    height: 100%;

    img {
        max-height: 225px;
        object-fit: cover;
    }
}


.post-movie-card {
    color : black;
    background: #e9e9e9;
    transition-duration: 0.35s;
    display: block;
    padding: 1rem;

    &:hover {
        text-decoration: none;
        color : black;
        background: #d6d6d6;

        img {
            filter: grayscale(1);
        }
    }

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition-duration: 0.35s;
    }
}

