<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/style.css') }}">
        {% endblock %}
    </head>
    <body class="admin">
        {% include 'Back/Partials/header.html.twig' %}

        {% block body %}
        {% endblock %}
        
        {% block javascripts %}
            {{ encore_entry_script_tags('script') }}
        {% endblock %}
    </body>
</html>
