{% extends 'Front/base.html.twig' %}

{% block title %}{{ 'pages.post_archive.title'|trans }}{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-12 mt-5 mb-5">
                <h1 class="text-center">Tous les articles</h1>
            </div>
        </div>

        <div class="row">
            {% for post in posts %}
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    {% include 'Front/Partials/cards/post-card.html.twig' with {'post': post} %}
                </div>
            {% endfor %}
        </div>

        <div class="row">
            <div class="col-12">
                <div class="justify-content-center mb-5 mt-4">
                    <div class="adrec-paginator">
                        {{ knp_pagination_render(posts) }}
                    </div>
                </div>
            </div>
        </div>
    </div>




{% endblock %}
